{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>백엔드 회원가입</title>
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h2>회원가입</h2>
    </div>
    <div class="sidebar">
        <ul>
            <li><a href="read">가계부 목록</a></li>
                <li><a href="write">가계부 쓰기</a></li>
            <li><a href="https://search.shopping.naver.com/search/all?query=%EA%B0%80%EA%B3%84%EB%B6%80&cat_id=&frm=NVSHATC">가계부 구입</a></li>
            <li><a href="http://127.0.0.1:8000/">메인화면</a></li>
        </ul>
    </div>
<form method = "POST" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">가입</button>
</form>
<footer></footer>
</body>

</html>